<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>

<app-main-layout pageTitle="Configuración de Perfil">
  <div class="max-w-4xl mx-auto">
    <p-card styleClass="shadow-sm border border-slate-200">
      <div
        class="flex flex-col md:flex-row items-center gap-6 mb-6 p-4 bg-slate-50 rounded-xl border border-slate-100"
      >
        <p-avatar
          [label]="(userData?.usuario?.charAt(0) | uppercase) || 'U'"
          styleClass="bg-[var(--p-primary-100)] text-[var(--p-primary-600)] text-4xl font-bold"
          shape="circle"
          [style]="{ width: '90px', height: '90px' }"
        >
        </p-avatar>

        <div class="text-center md:text-left flex-1">
          <h2 class="text-2xl font-bold text-slate-800">
            {{ userData?.nombreCompleto || 'Usuario' }}
          </h2>
          <p class="text-slate-500">{{ userData?.email }}</p>
        </div>
      </div>

      <form [formGroup]="profileForm" (ngSubmit)="onUpdateProfile()" class="p-4">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
          <div class="flex flex-col gap-2">
            <label class="text-sm font-semibold text-slate-700">Nombre de Usuario</label>
            <input pInputText formControlName="usuario" class="w-full bg-slate-100 opacity-70" />
          </div>
          <div class="flex flex-col gap-2">
            <label class="text-sm font-semibold text-slate-700">Correo Electrónico</label>
            <input pInputText formControlName="email" class="w-full bg-slate-100 opacity-70" />
          </div>

          <div class="flex flex-col gap-2 md:col-span-2">
            <label class="text-sm font-semibold text-slate-700">Nombre Completo</label>
            <input pInputText formControlName="nombreCompleto" class="w-full" />
            <small
              class="text-red-500"
              *ngIf="f['nombreCompleto'].invalid && f['nombreCompleto'].touched"
              >Requerido.</small
            >
          </div>

          <div class="flex flex-col gap-2">
            <label class="text-sm font-semibold text-slate-700">Teléfono</label>
            <input pInputText formControlName="telefono" class="w-full" />
            <small class="text-red-500" *ngIf="f['telefono'].invalid && f['telefono'].touched"
              >Debe ser un número válido.</small
            >
          </div>

          <div class="flex flex-col gap-2">
            <label class="text-sm font-semibold text-slate-700">Fecha de Nacimiento</label>
            <p-date-picker
              formControlName="fechaNacimiento"
              [showIcon]="true"
              fluid="true"
            ></p-date-picker>
          </div>

          <div class="flex flex-col gap-2 md:col-span-2">
            <label class="text-sm font-semibold text-slate-700">Dirección</label>
            <input pInputText formControlName="direccion" class="w-full" />
          </div>
        </div>

        <div class="flex justify-end mt-8 gap-4">
          <p-button
            *appHasPermission="'user:delete'"
            label="Desactivar Cuenta"
            icon="pi pi-user-minus"
            severity="danger"
            (onClick)="deactivateAccount()"
          ></p-button>

          <p-button
            *appHasPermission="'user:edit'"
            label="Guardar Cambios"
            icon="pi pi-save"
            type="submit"
            [disabled]="profileForm.invalid || profileForm.pristine"
          ></p-button>
        </div>
      </form>
    </p-card>
  </div>
</app-main-layout>
